{% extends 'base.html.twig' %}

{% block title 'You failed' %}

{% block content %}
    <h2>Game Over!</h2>

    <p>
        Oops, you're hanged... The word to guess was <strong>XXXXXXXXXXXX</strong>
    </p>
{% endblock %}